{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div id="app">
hi, ${ version }
</div>
{% endblock %}

{% block stylesheets %}
<style></style>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('build/js/default/index.js') }}"></script>
{% endblock %}
