<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SteemEditor{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/css/main.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/png" href="{{ asset('steem-editor.png') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
